<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/subjects" routerLinkActive="active"
            >Subjects</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Members</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/departments"
            routerLinkActive="active"
            >Departments</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Academic Titles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Education Titles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Scientific Fields</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
