<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/subjects" routerLinkActive="active"
            >Subjects</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active"
            >Members</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/departments"
            routerLinkActive="active"
            >Departments</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/academicTitles"
            routerLinkActive="active"
            >Academic Titles</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/educationTitles"
            routerLinkActive="active"
            >Education Titles</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/scientificFields"
            routerLinkActive="active"
            >Scientific Fields</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
