<h2 mat-dialog-title>{{ isEdit ? "Edit" : "Add New" }} Data</h2>
<div mat-dialog-content>
  <form [formGroup]="form">
    <div *ngFor="let mData of metaData" class="form-group">
      <label [for]="mData.label">{{ mData.label | titlecase }}</label>

      <!-- Dinamičko generisanje inputa ili dropdown-a -->
      <ng-container
        *ngIf="mData.inputType === 'text' || mData.inputType === 'number'"
      >
        <input
          id="{{ mData.key }}"
          class="form-control"
          formControlName="{{ mData.key }}"
          [type]="mData.inputType"
        />
      </ng-container>

      <ng-container *ngIf="mData.inputType === 'dropdown'">
        <select
          id="{{ mData.key }}"
          class="form-control"
          formControlName="{{ mData.key }}"
        >
          <option *ngFor="let option of mData.options" [value]="option.value">
            {{ option.label }}
          </option>
        </select>
      </ng-container>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Cancel</button>
  <button mat-button color="primary" (click)="onSave()">Save</button>
</div>
